@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comfortaa:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200em;
  background-color: #FFD400;
  transform-origin: top;
  z-index: 1000;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200em;
  background: #FFD400;
  transform-origin: bottom;
  z-index: 1000;
}


/* 
font-family: "Open Sans", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Raleway", sans-serif;
font-family: "Nunito", sans-serif;
font-family: "Mulish", sans-serif;
font-family: "Quicksand", sans-serif;
font-family: "Manrope", sans-serif;
font-family: "Jost", sans-serif;
font-family: "Pacifico", cursive;
font-family: "Comfortaa", sans-serif;
font-family: "Lobster", sans-serif;
font-family: "Urbanist", sans-serif;  
font-family: "Cal Sans", sans-serif;
font-family: "Bebas Neue", sans-serif;
font-family: "Bangers", system-ui;
*/

/* 
colors
#FFD400
#3386B6
#AA3D39
*/

:root{
    --PrimaryColor:#FFD400;
    --SecondColor:#3386B6;
    --ThirdColor:#AA3D39;
    --BGColor: #F7F7F7;
    --SecondColorLight:rgba(51, 134, 182,.9);
}
::selection{
  background-color: var(--ThirdColor);
  color: var(--BGColor);
}
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: .2s ease-in;
  }
  
  html{
    scroll-behavior: smooth;
}
a{
  list-style: none;
  
}

/* Style for links that trigger transitions */
.transition-link {
  position: relative;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
}

/* Optional: Create a ripple effect on links */
.transition-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s;
  top: 0;
  left: 0;
  z-index: -1;
}

.transition-link:hover::after {
  transform: scale(1.5);
}

.circle-transition {
  will-change: transform;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
}

/* Adicionar ao seu arquivo CSS */


a{
  text-decoration: none;
}

/* Mobile pequeno */
@media (max-width: 359px) {
    .scrollHeader{
        width: 100%;
        height: 3em;
        background-color: var(--PrimaryColor);
        position: fixed;
        top: 0;
        z-index: 100;
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 4px 10px -5px gray;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: default;
    }
    .scrollHeaderTitle{
        color: hsl(50, 50%, 50%);
        font-size: 13vw;
        font-family: "Jost", sans-serif;
    }
    .scrollHeaderMenuButton{
        width: 17%;
        height: 2.5em;
        background-color: #F7F7F7;
        background-color: transparent;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: end;
    }
    .scrHMenuButtonLine{
        width: 80%;
        height: 4px;
        background-color: #F7F7F7;
        border-radius: 5px;
    }
    .scrHMenuButtonLine:nth-child(2){
        width: 50%;
    }
}
  
  /* Mobile padrão */
  @media (min-width: 360px) and (max-width: 425px) {
    .scrollHeader{
        width: 100%;
        height: 3em;
        background-color: var(--PrimaryColor);
        position: fixed;
        top: 0;
        z-index: 100;
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 4px 10px -5px gray;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: default;
    }
    .scrollHeaderTitle{
        color: hsl(50, 50%, 50%);
        font-size: 13vw;
        font-family: "Jost", sans-serif;
    }
    .scrollHeaderMenuButton{
        width: 15%;
        height: 2.5em;
        background-color: #F7F7F7;
        background-color: transparent;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: end;
    }
    .scrHMenuButtonLine{
        width: 80%;
        height: 4px;
        background-color: #F7F7F7;
        border-radius: 5px;
    }
    .scrHMenuButtonLine:nth-child(2){
        width: 50%;
    }
}
  


  /* Tablets */
  @media (min-width: 426px) and (max-width: 767px) {
  .scrollHeader{
        width: 100%;
        height: 3em;
        background-color: var(--PrimaryColor);
        position: fixed;
        top: 0;
        z-index: 100;
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 4px 10px -5px gray;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: default;
    }
    .scrollHeaderTitle{
        color: hsl(50, 50%, 50%);
        font-size: 3em;
        font-family: "Jost", sans-serif;
    }
    .scrollHeaderMenuButton{
        width: 5em;
        height: 2.5em;
        background-color: #F7F7F7;
        background-color: transparent;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: end;
    }
    .scrHMenuButtonLine{
        width: 80%;
        height: 4px;
        background-color: #F7F7F7;
        border-radius: 5px;
    }
    .scrHMenuButtonLine:nth-child(2){
        width: 50%;
    }
  }
  
  /* Laptops/Desktop pequeno */
  @media (min-width: 768px) and (max-width: 1024px) {
 .scrollHeader{
        width: 100%;
        height: 3em;
        background-color: var(--PrimaryColor);
        position: fixed;
        top: 0;
        z-index: 100;
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 4px 10px -5px gray;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: default;
    }
    .scrollHeaderTitle{
        color: hsl(50, 50%, 50%);
        font-size: 3em;
        font-family: "Jost", sans-serif;
    }
    .scrollHeaderMenuButton{
        width: 5em;
        height: 2.5em;
        background-color: #F7F7F7;
        background-color: transparent;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: end;
    }
    .scrHMenuButtonLine{
        width: 80%;
        height: 4px;
        background-color: #F7F7F7;
    }
    .scrHMenuButtonLine:nth-child(2){
        width: 50%;

    }
  }
  
  /* Desktops */
  @media (min-width: 1025px) and (max-width: 1440px) {
 .scrollHeader{
        width: 100%;
        height: 3em;
        background-color: var(--PrimaryColor);
        position: fixed;
        top: 0;
        z-index: 100;
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 4px 10px -5px gray;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: default;
    }
    .scrollHeaderTitle{
        color: hsl(50, 50%, 50%);
        font-size: 3em;
        font-family: "Jost", sans-serif;
    }
    .scrollHeaderMenuButton{
        width: 5em;
        height: 2.5em;
        background-color: #F7F7F7;
        background-color: transparent;
        border-radius: 5px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: end;
    }
    .scrHMenuButtonLine{
        width: 80%;
        height: 4px;
        background-color: #F7F7F7;
        border-radius: 5px;
    }
    .scrHMenuButtonLine:nth-child(2){
        width: 50%;
    }
  }
  
  /* Telas grandes */
  @media (min-width: 1441px) {
 .scrollHeader{
        width: 100%;
        height: 3em;
        background-color: var(--PrimaryColor);
        position: fixed;
        top: 0;
        z-index: 100;
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 4px 10px -5px gray;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: default;
    }
    .scrollHeaderTitle{
        color: hsl(50, 50%, 50%);
        font-size: 3em;
        font-family: "Jost", sans-serif;
    }
    .scrollHeaderMenuButton{
        width: 5em;
        height: 2.5em;
        background-color: #F7F7F7;
        background-color: transparent;
        border-radius: 5px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: end;
    }
    .scrHMenuButtonLine{
        width: 80%;
        height: 4px;
        background-color: #F7F7F7;
        border-radius: 5px;
    }
    .scrHMenuButtonLine:nth-child(2){
        width: 50%;
    }
  }