
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: .2s ease-in;
}

/* Mobile pequeno */
@media (max-width: 359px) {
    .service{
        width: 100%;
        height: 125em;
        margin: 3em 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 5%;
        margin: 35% 0;
    }



    /* ===== service Header ===== */
    .service-header{
        width: 100%;
        height: 15em;
        padding: 0 2%;
        
    }
    .service-header-title{
        font-size: 10vw;
        font-family: "Bebas Neue", sans-serif;
        
    }
    .service-header-Description-section{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .service-header-title-Description{
        font-size: 8vw;
        font-family: "Urbanist", sans-serif;  
        color: var(--SecondColor);
    }

    .service-header-Description{
        font-size: 7vw;
        margin: 5% 0;
        font-weight: 400;
        font-family: "Quicksand", sans-serif;
    }



    /* ==== service-body ===== */

    .service-body{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1%;
    }
    .service-card{
        width: 90%;
        height: 20em;
        border-radius: 0 30px 30px 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        flex-direction: column;
        background-color: #DDDDDD;
        box-shadow: 3px 1px 14px -2px var(--SecondColor);
    }

    .service-card-header{
        width: 90%;
        height: 4em;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;    
        position: relative;
        z-index: 1;
    }

    .service-icon{
        width: 24%;
        height: 100%;
        background: var(--SecondColor);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20em;
    }

    .service-iconIMG{
        width: 60%;
        height: 59%;
        object-fit: cover;
    }

    .service-title{
        font-size: 8vw;
        font-family: "Jost", sans-serif;
        align-self: flex-start;
        position: relative;
        text-align: center;    
    }
        .service-title::after{
        z-index: -1;
        content: '';
        width: 90%;
        height: 1px;
        background-color: var(--SecondColor);
        position: absolute;
        top: 100%;
        left: 50%;
        transform:translate(-50%,-50%);
    }
    .service-description{
        font-size: 6vw;
        text-align: center;
        font-family: "Quicksand", sans-serif;
    }

}
  
  /* Mobile padrão */
  @media (min-width: 360px) and (max-width: 425px) {
   .service{
        width: 100%;
        height: 100em;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 0%;
        margin: 35% 0;
    }
    .service-header{
        width: 100%;
        height: 24em;
        padding: 0 2%;
        
    }
    .service-header-title{
        font-size: 10vw;
        font-family: "Bebas Neue", sans-serif;
        
    }
    .service-header-Description-section{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .service-header-title-Description{
        font-size: 8vw;
        font-family: "Urbanist", sans-serif;  
    }
    .service-header-Description{
        font-size: 5vw;
        margin: 5% 0;
        font-weight: 400;
        font-family: "Quicksand", sans-serif;
    }


     /* ==== service-body ===== */

    .service-body{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 2%;
    }
    .service-card{
        width: 90%;
        height: 15em;
        border-radius: 0 30px 30px 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        flex-direction: column;
        background-color: #DDDDDD;
        box-shadow: 3px 1px 14px -2px var(--SecondColor);
    }

    .service-card-header{
        width: 90%;
        height: 4em;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;    
        position: relative;
        z-index: 1;
    }

    .service-icon{
        width: 21%;
        height: 100%;
        background: var(--SecondColor);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20em;
        background-color: var(--SecondColor);
    }

    .service-iconIMG{
        width: 55%;
        height: 61%;
        object-fit: cover;
    }

    .service-title{
        font-size: 8vw;
        font-family: "Jost", sans-serif;
        align-self: flex-start;
        position: relative;
        text-align: center;
    }
        .service-title::after{
        z-index: -1;
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--SecondColor);
        position: absolute;
        top: 100%;
        left: 50%;
        transform:translate(-50%,-50%);
        
    }
    .service-description{
        font-size: 4vw;
        text-align: center;
        font-family: "Quicksand", sans-serif;
    }

}
  


  /* Tablets */
  @media (min-width: 426px) and (max-width: 767px) {
  .service{
        width: 100%;
        height: 130em;
        margin: 3em 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 1%;
        margin: 20% 0;
    }

    .service-header{
        width: 100%;
        height: 24em;
        padding: 0 2%;
    }
    .service-header-title{
        font-size: 10vw;
        font-family: "Bebas Neue", sans-serif;
        
    }
    .service-header-Description-section{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .service-header-title-Description{
        font-size: 8vw;
        font-family: "Urbanist", sans-serif;  
        color: var(--SecondColor);
    }

    .service-header-Description{
        font-size: 5vw;
        margin: 5% 0;
        font-weight: 400;
        font-family: "Quicksand", sans-serif;
    }


        /* ==== service-body ===== */

    .service-body{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 2%;
    }
    .service-card{
        width: 80%;
        padding: 2%;
        height: 17em;
        border-radius: 0 15px 15px 15px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20%;
        flex-direction: column;
        background-color: #DDDDDD;
        box-shadow: 3px 1px 14px -2px var(--SecondColor);
    }

    .service-card-header{
        width: 90%;
        height: 4em;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;    
        position: relative;
        z-index: 1;
    }

    .service-icon{
        width: 19%;
        height: 100%;
        background: var(--SecondColor);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20em;
        background-color: var(--SecondColor);
    }

    .service-iconIMG{
        width: 64%;
        height: 66%;
        object-fit: cover;
    }

    .service-title{
        font-size: 6vw;
        font-family: "Jost", sans-serif;
        align-self: flex-start;
        position: relative;
    }
        .service-title::after{
        z-index: -1;
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--SecondColor);
        position: absolute;
        top: 100%;
        left: 50%;
        transform:translate(-50%,-50%);
    }
    .service-description{
        font-size: 3vw;
        text-align: center;
        font-family: "Quicksand", sans-serif;
    }
  }
  
  /* Laptops/Desktop pequeno */
  @media (min-width: 768px) and (max-width: 1024px) {
 .service{
        width: 100%;
        height: 125em;
        margin: 3em 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 10%;
    }
    .service-header{
        width: 100%;
        height: 24em;
        padding: 0 2%;
        
    }
    .service-header-title{
        font-size: 7vw;
        font-family: "Bebas Neue", sans-serif;
        
    }
    .service-header-Description-section{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .service-header-title-Description{
        font-size: 6vw;
        font-family: "Urbanist", sans-serif;  
        color: var(--SecondColor);
    }

    .service-header-Description{
        font-size: 5vw;
        margin: 5% 0;
        font-weight: 400;
        font-family: "Quicksand", sans-serif;
    }


           /* ==== service-body ===== */

    .service-body{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 5%;
    }
    .service-card{
        width: 45%;
        height: 26em;
        border-radius: 0 30px 30px 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        flex-direction: column;
        background-color: #DDDDDD;
        box-shadow: 3px 1px 14px -2px var(--SecondColor);
    }

    .service-card-header{
        width: 90%;
        height: 5em;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;    
        position: relative;
        z-index: 1;
    }

    .service-icon{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20em;
        background: var(--SecondColor);
    }

    .service-iconIMG{
        width: 64%;
        height: 66%;
        object-fit: cover;
    }

    .service-title{
        font-size: 5vw;
        font-family: "Jost", sans-serif;
        align-self: flex-start;
        position: relative;
        text-align: center;
    }
        .service-title::after{
        z-index: -1;
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--SecondColor);
        position: absolute;
        top: 100%;
        left: 50%;
        transform:translate(-50%,-50%);
                
    }
    .service-description{
        font-size: 3vw;
        text-align: center;
        font-family: "Quicksand", sans-serif;
    }
  }
  
  /* Desktops */
  @media (min-width: 1025px) and (max-width: 1440px) {
 .service{
        width: 100%;
        height: 80em;
        margin: 3em 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #F2F2F2;
    }
    .service::before{
        content: '';
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,0%);
        width: 50%;
        height: 3px;
        background-color: var(--PrimaryColor);
    }
    .service::after{
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%,0%);
        width: 50%;
        height: 3px;
        background-color: var(--PrimaryColor);
    }



    /* ====== Service-Header ====== */
    .service-header{
        width: 100%;
        height: 24em;
        padding: 0 2%;
    }
    .service-header-title{
        font-size: 2.5vw;
        font-family: "Bebas Neue", sans-serif;
    }
    .service-header-Description-section{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5%;
    }
    .service-header-title-Description{
        font-size: 3vw;
        font-family: "Urbanist", sans-serif;  
        color: var(--SecondColor);
    }

    .service-header-Description{
        font-size: 2vw;
        width: 70%;
        margin: 5% 0;
        font-weight: 400;
        font-family: "Quicksand", sans-serif;
    }


           /* ==== service-body ===== */

    .service-body{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 0%;
    }
    .service-card{
        width: 35%;
        height: 18em;
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        flex-direction: column;
        background-color: #DDDDDD;
        box-shadow: 0px 0px 0px 0px var(--SecondColor);
        cursor: default;
        margin: .5%;
    }







    .service-card-header{
        width: 90%;
        height: 5em;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        position: relative;
        z-index: 1;
    }

    .service-icon{
        width: 14%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20em;
        background: var(--SecondColor);
        position: absolute;
        left: 1vw;
        top: 2vh;
    }

    .service-iconIMG{
        width: 65%;
        height: 66%;
        object-fit: cover;
    }

    .service-title{
        font-size: 2vw;
        font-family: "Jost", sans-serif;
        align-self: flex-start;
        position: relative;
    }
        .service-title::after{
        z-index: -1;
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--BGColor);
        position: absolute;
        top: 100%;
        left: 50%;
        transform:translate(-50%,-50%);
                
    }
    .service-description{
        font-size: 1.5vw;
        text-align: center;
        font-family: "Quicksand", sans-serif;
    }
  }
  
  /* Telas grandes */
  @media (min-width: 1441px) {
 .service{
        width: 100%;
        height: 80em;
        margin: 3em 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #F2F2F2;
    }
    .service::before{
        content: '';
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,0%);
        width: 50%;
        height: 3px;
        background-color: var(--PrimaryColor);
    }
    .service::after{
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%,0%);
        width: 50%;
        height: 3px;
        background-color: var(--PrimaryColor);
    }



    /* ====== Service-Header ====== */
    .service-header{
        width: 100%;
        height: 24em;
        padding: 0 2%;
    }
    .service-header-title{
        font-size: 2.5vw;
        font-family: "Bebas Neue", sans-serif;
    }
    .service-header-Description-section{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5%;
    }
    .service-header-title-Description{
        font-size: 3vw;
        font-family: "Urbanist", sans-serif;  
        color: var(--SecondColor);
    }

    .service-header-Description{
        font-size: 2vw;
        width: 70%;
        margin: 5% 0;
        font-weight: 400;
        font-family: "Quicksand", sans-serif;
    }


             /* ==== service-body ===== */

    .service-body{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .service-card{
        width: 20%;
        height: 12em;
        border-radius: 0 30px 30px 30px;
        background-image: url(/src/images/Backgrounds/worn-dots.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--SecondColor);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        flex-direction: column;
        background-color: #DDDDDD;
        box-shadow: 3px 1px 14px -2px var(--SecondColor);
    }

    .service-card-header{
        width: 90%;
        height: 4em;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        position: relative;
        z-index: 1;
    }

    .service-icon{
        width: 25%;
        height: 100%;
        background: var(--SecondColor);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20em;
        background-color: var(--BGColor);
    }

    .service-iconIMG{
        width: 65%;
        height: 66%;
        object-fit: cover;
    }

    .service-title{
        font-size: 2vw;
        font-family: "Jost", sans-serif;
        align-self: flex-start;
        position: relative;
    }
        .service-title::after{
        z-index: -1;
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--BGColor);
        position: absolute;
        top: 100%;
        left: 50%;
        transform:translate(-50%,-50%);
                
    }
    .service-description{
        font-size: 1vw;
        text-align: center;
        font-family: "Quicksand", sans-serif;
    }
  }