

/* Mobile pequeno */
@media (max-width: 359px) {
 .about{
    width: 95%;
    height: 15em;
    margin: 2em 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2em;
    border-radius: 2px;
    position: relative;
    z-index: 1;
    background-color: #FEFFC4;
 }
 .aboutTextSquare{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .AboutText{
    font-size: 5vw;
     color: #fff;
     font-weight: 100;
     font-family: "Urbanist", sans-serif;  
 }
 .aboutTitle{
    font-size: 13vw;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
 }
 .aboutImage{
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   z-index: -1;
   filter: brightness(0.4);
   border-radius: 5em 5em 1em 1em;
 }
}
  
  /* Mobile padrão */
  @media (min-width: 360px) and (max-width: 425px) {
  .about{
    width: 95%;
    height: 21em;
    margin: 2em 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2em;
    border-radius: 2px;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
 }
 .aboutTextSquare{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .AboutText{
    font-size: 5vw;
     color: #fff;
     font-weight: 100;
     font-family: "Urbanist", sans-serif;  
 }
 .aboutTitle{
    font-size: 13vw;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
 }
 .aboutImage{
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   z-index: -1;
   filter: brightness(0.4);
   border-radius: 5em 5em 1em 1em;
 }
}
  


  /* Tablets */
  @media (min-width: 426px) and (max-width: 767px) {
  .about{
    width: 90%;
    height: 21em;
    margin: 2em 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content:space-evenly;
    gap: .0em;
    border-radius: 2px;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
 }
 .aboutTextSquare{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .AboutText{
    font-size: 1em;
     color: #fff;
     font-weight: 100;
     font-family: "Urbanist", sans-serif;  
 }
 .aboutTitle{
    font-size: 4em;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
 }
 .aboutImage{
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   z-index: -1;
   filter: brightness(0.4);
   border-radius: 5em 5em 1em 1em;
 }
  }
  
  /* Laptops/Desktop pequeno */
  @media (min-width: 768px) and (max-width: 1024px) {
  .about{
    width: 90%;
    height: 21em;
    margin: 2em 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content:space-evenly;
    gap: .0em;
    border-radius: 2px;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
 }
 .aboutTextSquare{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .AboutText{
        font-size: 1.5em;
        color: #fff;
        font-weight: 100;
        font-family: "Urbanist", sans-serif;
        width: 70%;
 }
 .aboutTitle{
    font-size: 6em;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
 }
 .aboutImage{
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   z-index: -1;
   filter: brightness(0.4);
   border-radius: 5em 5em 1em 1em;
 }
  }
  
  /* Desktops */
  @media (min-width: 1025px) and (max-width: 1440px) {
   .about{
        width: 80%;
        height: 30em;
        margin: 2em 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: .0em;
        border-radius: 2px;
        position: relative;
        z-index: 1;
        background-color: hsla(0, 0%, 0%, 0.6);
        border-radius: 1em 1em 1em 1em;
   }
   .aboutTextSquare{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 0 0 0 0;
   }
 .AboutText{
        font-size: 2em;
        color: #fff;
        font-weight: 100;
        font-family: "Urbanist", sans-serif;
        width: 70%;
   }
 .aboutTitle{
    font-size: 6em;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
 }
 .aboutImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
        filter: brightness(0.4);
        border-radius: 1em 1em 1em 1em;
 }
  }
  
  /* Telas grandes */
  @media (min-width: 1441px) {
   .about{
        width: 80%;
        height: 30em;
        margin: 2em 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: .0em;
        border-radius: 2px;
        position: relative;
        z-index: 1;
        background-color: hsla(0, 0%, 0%, 0.6);
        border-radius: 1em 1em 1em 1em;
   }
   .aboutTextSquare{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 0 0 0 0;
   }
 .AboutText{
        font-size: 2em;
        color: #fff;
        font-weight: 100;
        font-family: "Urbanist", sans-serif;
        width: 70%;
   }
 .aboutTitle{
    font-size: 6em;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
 }
 .aboutImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
        filter: brightness(0.4);
        border-radius: 1em 1em 1em 1em;
 }
  }