@media (max-width: 359px) {
    .loundry-header{
        width: 100%;
        height: 2.5em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
        margin-bottom: 1em;
    }

.header-title{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
        width: 37vw;
        height: 100%;
        padding: 0 2%;
        position: relative;
        z-index: 1;
    }

    .header-sub-title{
        font-size: .5em;
        color: hsl(202, 100%, 46%);
        letter-spacing: 3px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Comfortaa", sans-serif;
    }


    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: none;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -10em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: #00879E;
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 2.5em;
        height: 2em;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }




    
/* ==== Arrow-icon ==== */
.arrow-icon{
position: fixed;
        top: 80%;
        right: -50%;
        right: 5%;
        transform: translateY(-50%);
        z-index: 500;
        width: 20%;
        height: 12vh;
        font-size: 11vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px #fff;
        cursor: pointer;
        transition: right 0.9s cubic-bezier(0.65, -0.25, 0.35, 1.25), transform 0.5s ease;
        overflow: hidden;
        background-color: transparent;
}


.arrow-icon-bg{
  position: absolute;
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--PrimaryColor);
}




}

  @media (min-width: 360px) and (max-width: 425px) {
    .loundry-header{
        width: 100%;
        height: 15vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
    }
.header-title{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
        width: 37vw;
        height: 100%;
        padding: 0 2%;
        position: relative;
        z-index: 1;
    }

    .header-sub-title{
        font-size: 6vw;
        color: hsl(202, 100%, 46%);
        letter-spacing: 3px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Comfortaa", sans-serif;
    }
   

    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: none;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -10em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: #00879E;
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 2.5em;
        height: 2em;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }



    
/* ==== Arrow-icon ==== */
.arrow-icon{
position: fixed;
        top: 80%;
        right: -50%;
        right: 5%;
        transform: translateY(-50%);
        z-index: 500;
        width: 17%;
        height: 8vh;
        font-size: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px #fff;
        cursor: pointer;
        transition: right 0.9s cubic-bezier(0.65, -0.25, 0.35, 1.25), transform 0.5s ease;
        overflow: hidden;
        background-color: transparent;
}


.arrow-icon-bg{
  position: absolute;
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--PrimaryColor);
}


  }
  @media (min-width: 426px) and (max-width: 768px) {
    .loundry-header{
        width: 100%;
        height: 4em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
        margin-bottom: 1em;
        background-color: rgba(255, 255, 255, 0.3);
    }
.header-title{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
        width: 5em;
        height: 100%;
        padding: 0 2%;
        position: relative;
        z-index: 1;
    }

    .header-sub-title{
        font-size: 0.6em;
        color: hsl(202, 100%, 46%);
        letter-spacing: 3px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Comfortaa", sans-serif;
    }

    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: none;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -10em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: #00879E;
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex
;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 3em;
        height: 2em;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }


      
/* ==== Arrow-icon ==== */
.arrow-icon{
position: fixed;
        top: 80%;
        right: -50%;
        right: 5%;
        transform: translateY(-50%);
        z-index: 500;
        width: 2em;
        height: 2em;
        font-size: 4.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px #fff;
        cursor: pointer;
        transition: right 0.9s cubic-bezier(0.65, -0.25, 0.35, 1.25), transform 0.5s ease;
        overflow: hidden;
        background-color: transparent;
}


.arrow-icon-bg{
  position: absolute;
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--PrimaryColor);
}


  }
  @media (min-width: 769px) and (max-width: 1024px) {
    .loundry-header{
        width: 100%;
        height: 10vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
        margin-bottom: 1em;
    }
.header-title{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
        width: 3em;
        height: 100%;
        padding: 0 2%;
        position: relative;
        z-index: 1;
    }

    .header-sub-title{
        font-size: 0.5em;
        color: hsl(202, 100%, 46%);
        letter-spacing: 3px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Comfortaa", sans-serif;
    }

    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 35%;
        font-size: 3vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: #00879E;
    }


    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 5%;
        height: 43%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }


    
      
/* ==== Arrow-icon ==== */
.arrow-icon{
position: fixed;
        top: 80%;
        right: -50%;
        right: 5%;
        transform: translateY(-50%);
        z-index: 500;
        width: 15%;
        height: 13vh;
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px #fff;
        cursor: pointer;
        transition: right 0.9s cubic-bezier(0.65, -0.25, 0.35, 1.25), transform 0.5s ease;
        overflow: hidden;
        background-color: transparent;
}


.arrow-icon-bg{
  position: absolute;
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--PrimaryColor);
}



  }

  @media (min-width: 1025px) and (max-width: 1440px) {
    .loundry-header{
        width: 100%;
        height: 5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
        z-index: 1000;
    }
    .header-title{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
        width: 11vw;
        height: 100%;
        padding: 0 2%;
        position: relative;
    }

    .header-sub-title{
        font-size: .5em;
        color: hsl(202, 100%, 46%);
        letter-spacing: 3px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Comfortaa", sans-serif;
    }


    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: #00879E;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 3%;
        height: 46%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: hsl(189, 100%, 31%);
    }


/* ==== Arrow-icon ==== */
.arrow-icon{
    position: fixed;
    top: 80%;
    right: -50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 500;
    width: 5%;
    height: 12vh;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #fff;
    cursor: pointer;
    transition: right 0.9s cubic-bezier(0.65, -0.25, 0.35, 1.25), transform 0.5s ease;
    overflow: hidden;
    background-color: transparent;
}


.arrow-icon-bg{
  position: absolute;
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--PrimaryColor);
}



  }
  @media (min-width: 1441px) {
    .loundry-header{
        width: 100%;
        height: 5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
    }
 .header-title{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
        width: 11vw;
        height: 100%;
        padding: 0 2%;
        position: relative;
    }

    .header-sub-title{
        font-size: .5em;
        color: hsl(202, 100%, 46%);
        letter-spacing: 3px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Comfortaa", sans-serif;
    }
  
    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -10em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: #00879E;
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex
;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 3%;
        height: 46%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }



    
/* ==== Arrow-icon ==== */
.arrow-icon{
    position: fixed;
    top: 80%;
    right: -50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 500;
    width: 5%;
    height: 12vh;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #fff;
    cursor: pointer;
    transition: right 0.9s cubic-bezier(0.65, -0.25, 0.35, 1.25), transform 0.5s ease;
    overflow: hidden;
    background-color: transparent;
}


.arrow-icon-bg{
  position: absolute;
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--PrimaryColor);
}




  }