
/* Mobile pequeno */
@media (max-width: 359px) {
    .loundry-header{
        width: 100%;
        height: 15vw;
        display: flex
;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
    }
    .header-title{
        font-size: 8vw;
        font-family: "Nunito", sans-serif;
        color: var(--ThirdColor);
        font-weight: 900;
        text-transform: uppercase;
    }

    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: none;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -5.5em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: #00879E;
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 15%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }

}
  
  /* Mobile padrão */
  @media (min-width: 360px) and (max-width: 425px) {
    .loundry-header{
        width: 100%;
        height: 15vw;
        display: flex
;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
    }
    .header-title{
        font-size: 8vw;
        font-family: "Nunito", sans-serif;
        color: var(--ThirdColor);
        font-weight: 900;
        text-transform: uppercase;
    }

    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: none;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -5.5em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: #00879E;
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 15%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }

  }
  
  /* Tablets */
  @media (min-width: 425px) and (max-width: 768px) {
    .loundry-header{
        width: 100%;
        height: 10vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
    }
    .header-title{
        font-size: 5vw;
        font-family: "Nunito", sans-serif;
        color: var(--ThirdColor);
        font-weight: 900;
        text-transform: uppercase;
    }

    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: none;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -5.5em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: #00879E;
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex
;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 5%;
        height: 43%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }

  }
  
  /* Laptops/Desktop pequeno */
  @media (min-width: 769px) and (max-width: 1024px) {
    .loundry-header{
        width: 100%;
        height: 10vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
    }
    .header-title{
        font-size: 5vw;
        font-family: "Nunito", sans-serif;
        color: var(--ThirdColor);
        font-weight: 900;
        text-transform: uppercase;
    }

    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: none;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -5.5em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: #00879E;
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex
;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 5%;
        height: 43%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }

  }
  
  /* Desktops */
  @media (min-width: 1025px) and (max-width: 1440px) {
    .loundry-header{
        width: 100%;
        height: 5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
    }
    .header-title{
        font-size: 2vw;
        font-family: "Nunito", sans-serif;
        color: var(--ThirdColor);
        font-weight: 900;
        text-transform: uppercase;
    }

    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -5.5em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: #00879E;
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex
;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 3%;
        height: 46%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }

  }
  
  /* Telas grandes */
  @media (min-width: 1441px) {
    .loundry-header{
        width: 100%;
        height: 5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
    }
    .header-title{
        font-size: 2vw;
        font-family: "Nunito", sans-serif;
        color: var(--ThirdColor);
        font-weight: 900;
        text-transform: uppercase;
    }

    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -5.5em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: #00879E;
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex
;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 3%;
        height: 46%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }

  }