
/* Mobile pequeno */
@media (max-width: 359px) {
    .loundry-header{
        width: 100%;
        height: 15vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
    }
.header-title{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
        width: 37vw;
        height: 100%;
        padding: 0 2%;
        position: relative;
        z-index: 1;
    }
    .header-title::after{
        content: '';
        width: 100%;
        height: 10vh;
        background-color: var(--PrimaryColor);
        position: absolute;
        top: -1vw;
        top: -2vw;
        z-index: -1;
        border-radius: 0px 0 10px 10px;
        transition: .6s ease-in-out;
    }
    .header-title:hover::after{
        transition: .6s ease-in-out;
        top: -2vw;
    }
    .header-sub-title{
        font-size: 1.5vw;
        color: #000;
        letter-spacing: 3px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Comfortaa", sans-serif;
    }
    .header-title-letters{
        width: 100%;
        font-size: 7vw;
        color: #000;
        letter-spacing: 5px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Cal Sans", sans-serif;
        font-family: "Nunito", sans-serif;
        letter-spacing: -2px;
        color: hsl(2, 76%, 50%);
        text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px  1px 0 #fff,
        1px  1px 0 #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .letter {
        display: inline-block;
    }

    .letter:nth-child(4){
        margin-right: 2%;
    }
    .letter:nth-child(1),.letter:nth-child(5){
        transform: rotateZ(10deg);
    }
    .letter:nth-child(2),.letter:nth-child(7){
        transform: rotateZ(8deg);
    }
    .letter:nth-child(3),.letter:nth-child(6){
        transform: rotateZ(5deg);
    }
    .letter:nth-child(8){
        transform: rotateZ(-8deg);
    }


    .header-title-icon{
        position: absolute;
        top: 39%;
        transform: translateY(-40%);
        right: 5%;
        font-size: 0.6vw;
        color: hsl(202, 100%, 46%);
        transform: rotateY(180deg);
    }

    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: none;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -10em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: #00879E;
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 15%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }




    
/* ==== Arrow-icon ==== */
.arrow-icon{
position: fixed;
        top: 80%;
        right: -50%;
        right: 5%;
        transform: translateY(-50%);
        z-index: 10000;
        width: 20%;
        height: 12vh;
        font-size: 11vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px #fff;
        cursor: pointer;
        transition: right 0.9s cubic-bezier(0.65, -0.25, 0.35, 1.25), transform 0.5s ease;
        overflow: hidden;
        background-color: transparent;
}


.arrow-icon-bg{
  position: absolute;
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--PrimaryColor);
}




}
  
  /* Mobile padrão */
  @media (min-width: 360px) and (max-width: 425px) {
    .loundry-header{
        width: 100%;
        height: 15vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
    }
.header-title{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
        width: 37vw;
        height: 100%;
        padding: 0 2%;
        position: relative;
        z-index: 1;
    }
    .header-title::after{
        content: '';
        width: 100%;
        height: 8vh;
        background-color: var(--PrimaryColor);
        position: absolute;
        top: -2vw;
        z-index: -1;
        border-radius: 0px 0 10px 10px;
        transition: .6s ease-in-out;
    }
    .header-title:hover::after{
        transition: .6s ease-in-out;
        top: -2vw;
    }
    .header-sub-title{
        font-size: 1.5vw;
        color: #000;
        letter-spacing: 3px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Comfortaa", sans-serif;
    }
    .header-title-letters{
        width: 100%;
        font-size: 7vw;
        color: #000;
        letter-spacing: 5px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Cal Sans", sans-serif;
        font-family: "Nunito", sans-serif;
        letter-spacing: -2px;
        color: hsl(2, 76%, 50%);
        text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px  1px 0 #fff,
        1px  1px 0 #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .letter {
        display: inline-block;
    }

    .letter:nth-child(4){
        margin-right: 2%;
    }
    .letter:nth-child(1),.letter:nth-child(5){
        transform: rotateZ(10deg);
    }
    .letter:nth-child(2),.letter:nth-child(7){
        transform: rotateZ(8deg);
    }
    .letter:nth-child(3),.letter:nth-child(6){
        transform: rotateZ(5deg);
    }
    .letter:nth-child(8){
        transform: rotateZ(-8deg);
    }


    .header-title-icon{
        position: absolute;
        top: 39%;
        transform: translateY(-40%);
        right: 5%;
        font-size: 0.6vw;
        color: hsl(202, 100%, 46%);
        transform: rotateY(180deg);
    }

    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: none;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -10em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: #00879E;
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 15%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }



    
/* ==== Arrow-icon ==== */
.arrow-icon{
position: fixed;
        top: 80%;
        right: -50%;
        right: 5%;
        transform: translateY(-50%);
        z-index: 10000;
        width: 17%;
        height: 8vh;
        font-size: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px #fff;
        cursor: pointer;
        transition: right 0.9s cubic-bezier(0.65, -0.25, 0.35, 1.25), transform 0.5s ease;
        overflow: hidden;
        background-color: transparent;
}


.arrow-icon-bg{
  position: absolute;
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--PrimaryColor);
}


  }
  
  /* Tablets */
  @media (min-width: 425px) and (max-width: 768px) {
    .loundry-header{
        width: 100%;
        height: 5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
    }
.header-title{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
        width: 22vw;
        height: 100%;
        padding: 0 2%;
        position: relative;
        z-index: 1;
    }
    .header-title::after{
        content: '';
        width: 100%;
        height: 12vh;
        background-color: var(--PrimaryColor);
        position: absolute;
        top: -7vw;
        z-index: -1;
        border-radius: 0px 0 10px 10px;
        transition: .6s ease-in-out;
    }
    .header-title:hover::after{
        transition: .6s ease-in-out;
        top: -7vw;
    }
    .header-sub-title{
        font-size: 1.5vw;
        color: #000;
        letter-spacing: 3px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Comfortaa", sans-serif;
    }
    .header-title-letters{
        width: 100%;
        font-size: 4vw;
        color: #000;
        letter-spacing: 5px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Cal Sans", sans-serif;
        font-family: "Nunito", sans-serif;
        letter-spacing: -2px;
        color: hsl(2, 76%, 50%);
        text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px  1px 0 #fff,
        1px  1px 0 #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .letter {
        display: inline-block;
    }

    .letter:nth-child(4){
        margin-right: 2%;
    }
    .letter:nth-child(1),.letter:nth-child(5){
        transform: rotateZ(10deg);
    }
    .letter:nth-child(2),.letter:nth-child(7){
        transform: rotateZ(8deg);
    }
    .letter:nth-child(3),.letter:nth-child(6){
        transform: rotateZ(5deg);
    }
    .letter:nth-child(8){
        transform: rotateZ(-8deg);
    }


    .header-title-icon{
        position: absolute;
        top: 37%;
        transform: translateY(-40%);
        right: 5%;
        font-size: 1vw;
        color: hsl(202, 100%, 46%);
        transform: rotateY(180deg);
    }

    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: none;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -10em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: #00879E;
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex
;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 10%;
        height: 43%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }


      
/* ==== Arrow-icon ==== */
.arrow-icon{
position: fixed;
        top: 80%;
        right: -50%;
        right: 5%;
        transform: translateY(-50%);
        z-index: 10000;
        width: 2em;
        height: 2em;
        font-size: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px #fff;
        cursor: pointer;
        transition: right 0.9s cubic-bezier(0.65, -0.25, 0.35, 1.25), transform 0.5s ease;
        overflow: hidden;
        background-color: transparent;
}


.arrow-icon-bg{
  position: absolute;
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--PrimaryColor);
}


  }
  
  /* Laptops/Desktop pequeno */
  @media (min-width: 769px) and (max-width: 1024px) {
    .loundry-header{
        width: 100%;
        height: 10vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
    }
.header-title{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
        width: 27vw;
        height: 100%;
        padding: 0 2%;
        position: relative;
        z-index: 1;
    }
    .header-title::after{
        content: '';
        width: 100%;
        height: 10vh;
        background-color: var(--PrimaryColor);
        position: absolute;
        top: -5vw;
        z-index: -1;
        border-radius: 0px 0 10px 10px;
        transition: .6s ease-in-out;
    }
    .header-title:hover::after{
        transition: .6s ease-in-out;
        top: -5vw;

    }
    .header-sub-title{
        font-size: 1.5vw;
        color: #000;
        letter-spacing: 3px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Comfortaa", sans-serif;
    }
    .header-title-letters{
        width: 100%;
        font-size: 5vw;
        color: #000;
        letter-spacing: 5px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Cal Sans", sans-serif;
        font-family: "Nunito", sans-serif;
        letter-spacing: -2px;
        color: hsl(2, 76%, 50%);
        text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px  1px 0 #fff,
        1px  1px 0 #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .letter {
        display: inline-block;
    }

    .letter:nth-child(4){
        margin-right: 2%;
    }
    .letter:nth-child(1),.letter:nth-child(5){
        transform: rotateZ(10deg);
    }
    .letter:nth-child(2),.letter:nth-child(7){
        transform: rotateZ(8deg);
    }
    .letter:nth-child(3),.letter:nth-child(6){
        transform: rotateZ(5deg);
    }
    .letter:nth-child(8){
        transform: rotateZ(-8deg);
    }


    .header-title-icon{
        position: absolute;
        top: 39%;
        transform: translateY(-40%);
        right: 5%;
        font-size: 0.6vw;
        color: hsl(202, 100%, 46%);
        transform: rotateY(180deg);
    }

    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: none;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -10em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: #00879E;
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 5%;
        height: 43%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }


    
      
/* ==== Arrow-icon ==== */
.arrow-icon{
position: fixed;
        top: 80%;
        right: -50%;
        right: 5%;
        transform: translateY(-50%);
        z-index: 10000;
        width: 15%;
        height: 13vh;
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px #fff;
        cursor: pointer;
        transition: right 0.9s cubic-bezier(0.65, -0.25, 0.35, 1.25), transform 0.5s ease;
        overflow: hidden;
        background-color: transparent;
}


.arrow-icon-bg{
  position: absolute;
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--PrimaryColor);
}



  }
  
  /* Desktops */
  @media (min-width: 1025px) and (max-width: 1440px) {
    .loundry-header{
        width: 100%;
        height: 5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
        z-index: 1000;
    }
    .header-title{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
        width: 11vw;
        height: 100%;
        padding: 0 2%;
        position: relative;
    }
    .header-title::after{
        content: '';
        width: 100%;
        height: 10vh;
        background-color: var(--PrimaryColor);
        position: absolute;
        top: -1vw;
        top: -50vw;
        z-index: -1;
        border-radius: 0px 0 10px 10px;
        transition: .6s ease-in-out;
    }
    .header-title:hover::after{
        transition: .6s ease-in-out;
        top: -1vw;

    }
    .header-sub-title{
        font-size: 0.7vw;
        color: #000;
        letter-spacing: 3px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Comfortaa", sans-serif;
    }
    .header-title-letters{
        width: 100%;
        font-size: 2vw;
        color: #000;
        letter-spacing: 5px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Cal Sans", sans-serif;
        font-family: "Nunito", sans-serif;
        letter-spacing: -2px;
        color: hsl(2, 76%, 50%);
        text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px  1px 0 #fff,
        1px  1px 0 #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .letter {
        display: inline-block;
    }

    .letter:nth-child(4){
        margin-right: 2%;
    }
    .letter:nth-child(1),.letter:nth-child(5){
        transform: rotateZ(10deg);
    }
    .letter:nth-child(2),.letter:nth-child(7){
        transform: rotateZ(8deg);
    }
    .letter:nth-child(3),.letter:nth-child(6){
        transform: rotateZ(5deg);
    }
    .letter:nth-child(8){
        transform: rotateZ(-8deg);
    }


    .header-title-icon{
        position: absolute;
        top: 39%;
        transform: translateY(-40%);
        right: 5%;
        font-size: 0.6vw;
        color: hsl(202, 100%, 46%);
        transform: rotateY(180deg);
    }

    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -10em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: hsl(189, 100%, 31%);
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 3%;
        height: 46%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: hsl(189, 100%, 31%);
    }


/* ==== Arrow-icon ==== */
.arrow-icon{
    position: fixed;
    top: 80%;
    right: -50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 5%;
    height: 12vh;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #fff;
    cursor: pointer;
    transition: right 0.9s cubic-bezier(0.65, -0.25, 0.35, 1.25), transform 0.5s ease;
    overflow: hidden;
    background-color: transparent;
}


.arrow-icon-bg{
  position: absolute;
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--PrimaryColor);
}



  }
  
  /* Telas grandes */
  @media (min-width: 1441px) {
    .loundry-header{
        width: 100%;
        height: 5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        align-items: center;
        color: #000;
        position: relative;
    }
 .header-title{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
        width: 11vw;
        height: 100%;
        padding: 0 2%;
        position: relative;
    }
    .header-title::after{
        content: '';
        width: 100%;
        height: 10vh;
        background-color: var(--PrimaryColor);
        position: absolute;
        top: -1vw;
        top: -50vw;
        z-index: -1;
        border-radius: 0px 0 10px 10px;
        transition: .6s ease-in-out;
    }
    .header-title:hover::after{
        transition: .6s ease-in-out;
        top: -1vw;

    }
    .header-sub-title{
        font-size: 0.7vw;
        color: #000;
        letter-spacing: 3px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Comfortaa", sans-serif;
    }
    .header-title-letters{
        width: 100%;
        font-size: 2vw;
        color: #000;
        letter-spacing: 5px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Cal Sans", sans-serif;
        font-family: "Nunito", sans-serif;
        letter-spacing: -2px;
        color: hsl(2, 76%, 50%);
        text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px  1px 0 #fff,
        1px  1px 0 #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .letter {
        display: inline-block;
    }

    .letter:nth-child(4){
        margin-right: 2%;
    }
    .letter:nth-child(1),.letter:nth-child(5){
        transform: rotateZ(10deg);
    }
    .letter:nth-child(2),.letter:nth-child(7){
        transform: rotateZ(8deg);
    }
    .letter:nth-child(3),.letter:nth-child(6){
        transform: rotateZ(5deg);
    }
    .letter:nth-child(8){
        transform: rotateZ(-8deg);
    }


    .header-title-icon{
        position: absolute;
        top: 39%;
        transform: translateY(-40%);
        right: 5%;
        font-size: 0.6vw;
        color: hsl(202, 100%, 46%);
        transform: rotateY(180deg);
    }

    .kiloklin-mascot{
        width: 5em;
        height: 5em;
    }

    .header-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        font-size: 1.4vw;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }
    .header-navbar >.navbar-options{
        cursor: pointer;
        position: relative;    
        z-index: 1;
        color: #000;
    }
    .navbar-options:hover{
        color: var(--BGColor);
    }
    .header-navbar >.navbar-options::before{
        position: absolute;
        top: -10em;
        left: 50%;
        transform: translate(-50%, 0px);
        content: '';
        width: 120%;
        height: 5em;
        background-color: #00879E;
        z-index: -1;
        border-radius: 0 0 5em 5em;
        transition: .8s ease-in-out;
    }
    .navbar-options:hover::before{
        transition: .3s ease-in-out;
        top: -2.5em;
    }

    .socials{
        width: 5%;
        height: 16vh;
        font-size: 1.5vw;
        display: flex
;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;
    }
    .socials > .fa-brands{
        border: solid 0px;
        width: 42%;
        height: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10em;
        color: #00879E;
        background-color: #fff;
    }
    
    .header-menu-icon{
        width: 3%;
        height: 46%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;
    }
    .bar-1,.bar-3,.bar-2{
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        height: 2px;
    }
    .bar-1,.bar-3{
        width: 90%;
    }
    .bar-2{
        width: 40%;
    }
    .header-menu-icon:hover > .bar-1, .header-menu-icon:hover > .bar-2, .header-menu-icon:hover > .bar-3{
        background-color: #00879E;
    }



    
/* ==== Arrow-icon ==== */
.arrow-icon{
    position: fixed;
    top: 80%;
    right: -50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 5%;
    height: 12vh;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #fff;
    cursor: pointer;
    transition: right 0.9s cubic-bezier(0.65, -0.25, 0.35, 1.25), transform 0.5s ease;
    overflow: hidden;
    background-color: transparent;
}


.arrow-icon-bg{
  position: absolute;
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--PrimaryColor);
}




  }