
/* Mobile pequeno */
@media (max-width: 359px) {
    .sidebar-BG, .sidebar-BG-close{
        position: fixed;
        top: 0;
        z-index: 10000;
        width: 100vw;
        height: 100vh;
        transition: 0s;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .sidebar-BG-close{
        background-color: transparent;
        pointer-events: none;
        transition: 1s;
    }

    .sidebar{
        position: absolute;
        right: 0%;
        width: 65%;
        height: 100%;
        background-color: #fff;
        transition: .6s ease-in-out;
        overflow-y: scroll;
        
    }
    .sidebar-close{
        position: absolute;
        right: -500%;
        width: 65%;
        height: 100%;
        background-color: #fff;
        transition: .6s ease-in-out;
        overflow-y: scroll;
    }


    /* ===== sidebar header ===== */
    .sidebar-header{
        width: 100%;
        height: 5em;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 5%;
        background-color: #FFD400;
    }
    .side-header-title{
        font-size: 10vw;
        color: hsl(202, 100%, 46%);
        font-family: "Nunito", sans-serif;
    }
    .side-header-icon{
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 10vw;
        color: rgba(0, 0, 0, 0.5);
    }

    /* === sidebar-links-list ==== */

    .sidebar-links-list{
        width: 100%;
        height: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
        margin: 5% 0;
    }
    .sidebar-links{
        font-family: 8vw;
        color: #000;
        font-family: "Quicksand", sans-serif;
        font-family: "Jost", sans-serif;
        font-family: "Comfortaa", sans-serif;
        width: 80%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFD400;
    }

        /* ====== address-sidebar ===== */
        .address-sidebar{
            margin: 15% 0;
            width: 100%;
            height: 15em;
            background-color: rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            flex-direction: column;
            padding: 2%;
        }
        .address-title{
            font-size: 7vw;
            font-family: "Bebas Neue", sans-serif;
        }
        .address-sidebar-info{
            font-family: "Urbanist", sans-serif;  
            font-size: 5vw;
        }
        .address-sidebar-link{
            width: 90%;
            height: 3em;
            background-color: #FFD400;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .address-sidebar-btn{
            width: 100%;
            height: 100%;
            background-color: transparent;
            font-size: 6vw;
            font-family: "Bebas Neue", sans-serif;
        }



    /* ===== businnesHour ====== */

    .businnesHour{
        width: 100%;
        height: 15em;
        margin-bottom: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .businnesHour-header{
        width: 100%;
        height: 3em;
        background-color: #FFD400;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .businnesHour-title{
        font-family: "Bebas Neue", sans-serif;
        font-size: 8vw;
    }
    .businnesHour-body{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
        position: relative;
    }
    .businnesHour-body::after{
        content: '';
        position: absolute;
        bottom: 50%;
        transform: translateY(-50%);
        width: 80%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .businnesHour-week, .businnesHour-weekend{
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
    }

    .businnesHour-week-days{
        font-size: 8vw;
        font-family: "Cal Sans", sans-serif;
    }

    .businnesHour-time{
        font-size: 6vw;
        font-family: "Comfortaa", sans-serif;
    }

    /* ====== Close sidebar Effects ====== */
    .sidebar-close .sidebar-header{
        right: -500%;
    }
}

  /* Mobile padrão */
  @media (min-width: 360px) and (max-width: 425px) {
     .sidebar-BG, .sidebar-BG-close{
        position: fixed;
        top: 0;
        z-index: 10000;
        width: 100vw;
        height: 100vh;
        transition: .6s;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .sidebar-BG-close{
        transition: 1s;
        background-color: transparent;
        pointer-events: none;
    }

    .sidebar{
        position: absolute;
        right: 0%;
        width: 65%;
        height: 100%;
        background-color: #fff;
        transition: .6s ease-in-out;
        overflow-y: auto;
    }
    .sidebar-close{
        position: absolute;
        right: -500%;
        width: 65%;
        height: 100%;
        background-color: #fff;
        transition: .6s ease-in-out;
        overflow-y: scroll;
    }


    

    /* ===== sidebar header ===== */
    .sidebar-header{
        width: 100%;
        height: 5em;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 5%;
        background-color: #FFD400;
    }
    .side-header-title{
        font-size: 10vw;
        color: hsl(202, 100%, 46%);
        font-family: "Nunito", sans-serif;
    }
    .side-header-icon{
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 10vw;
        color: rgba(0, 0, 0, 0.5);
    }



        /* === sidebar-links-list ==== */

    .sidebar-links-list{
        width: 100%;
        height: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
        margin: 5% 0;
    }
    .sidebar-links{
        font-family: 8vw;
        color: #000;
        font-family: "Quicksand", sans-serif;
        font-family: "Jost", sans-serif;
        font-family: "Comfortaa", sans-serif;
        width: 80%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFD400;
    }


       /* ====== address-sidebar ===== */
        .address-sidebar{
            margin: 15% 0;
            width: 100%;
            height: 15em;
            background-color: rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            flex-direction: column;
            padding: 2%;
        }
        .address-title{
            font-size: 7vw;
            font-family: "Bebas Neue", sans-serif;
        }
        .address-sidebar-info{
            font-family: "Urbanist", sans-serif;  
            font-size: 5vw;
        }
        .address-sidebar-link{
            width: 90%;
            height: 3em;
            background-color: #FFD400;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .address-sidebar-btn{
            width: 100%;
            height: 100%;
            background-color: transparent;
            font-size: 6vw;
            font-family: "Bebas Neue", sans-serif;
        }


    /* ===== businnesHour ====== */

    .businnesHour{
        width: 100%;
        height: 15em;
        margin-bottom: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .businnesHour-header{
        width: 100%;
        height: 3em;
        background-color: #FFD400;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .businnesHour-title{
        font-family: "Bebas Neue", sans-serif;
        font-size: 7vw;
    }
    .businnesHour-body{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
        position: relative;
    }
    .businnesHour-body::after{
        content: '';
        position: absolute;
        bottom: 50%;
        transform: translateY(-50%);
        width: 80%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .businnesHour-week, .businnesHour-weekend{
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
    }

    .businnesHour-week-days{
        font-size: 6vw;
        font-family: "Cal Sans", sans-serif;
    }

    .businnesHour-time{
        font-size: 5vw;
        font-family: "Comfortaa", sans-serif;
    }




    /* ====== Close sidebar Effects ====== */
    .sidebar-close .sidebar-header{
        right: -500%;
    }


  }
  
  /* Tablets */
  @media (min-width: 425px) and (max-width: 768px) {
     .sidebar-BG, .sidebar-BG-close{
        position: fixed;
        top: 0;
        z-index: 10000;
        width: 100vw;
        height: 100vh;
        transition: 0s;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .sidebar-BG-close{
        background-color: transparent;
        pointer-events: none;
    }

    .sidebar{
        position: absolute;
        right: 0%;
        width: 16em;
        height: 100%;
        background-color: #fff;
        transition: .6s ease-in-out;
        overflow-y: auto;
    }
    .sidebar-close{
        position: absolute;
        right: -500%;
        width: 65%;
        height: 100%;
        background-color: #fff;
        transition: .6s ease-in-out;
    }


    

    /* ===== sidebar header ===== */
    .sidebar-header{
        width: 100%;
        height: 5em;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 5%;
        background-color: #FFD400;
    }
    .side-header-title{
        font-size: 10vw;
        color: hsl(202, 100%, 46%);
        font-family: "Nunito", sans-serif;
    }
    .side-header-icon{
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 2.5em;
        color: rgba(0, 0, 0, 0.5);
    }

        /* === sidebar-links-list ==== */

    .sidebar-links-list{
        width: 100%;
        height: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
        margin: 0.5em 0;
    }
    .sidebar-links{
        font-family: 8vw;
        color: #000;
        font-family: "Quicksand", sans-serif;
        font-family: "Jost", sans-serif;
        font-family: "Comfortaa", sans-serif;
        width: 80%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFD400;
    }


       /* ====== address-sidebar ===== */
        .address-sidebar{
            margin: 15% 0;
            width: 100%;
            height: 15em;
            background-color: rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            flex-direction: column;
            padding: 2%;
        }
        .address-title{
            font-size: 2em;
            font-family: "Bebas Neue", sans-serif;
        }
        .address-sidebar-info{
            font-family: "Urbanist", sans-serif;  
            font-size: 1em;
        }
        .address-sidebar-link{
            width: 90%;
            height: 3em;
            background-color: #FFD400;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .address-sidebar-btn{
            width: 100%;
            height: 100%;
            background-color: transparent;
            font-size: 1em;
            font-family: "Bebas Neue", sans-serif;
        }


        
    /* ===== businnesHour ====== */

    .businnesHour{
        width: 100%;
        height: 15em;
        margin-bottom: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: auto;
    }
    .businnesHour-header{
        width: 100%;
        height: 3em;
        background-color: #FFD400;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .businnesHour-title{
        font-family: "Bebas Neue", sans-serif;
        font-size: 2em;
    }
    .businnesHour-body{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
        position: relative;
    }
    .businnesHour-body::after{
        content: '';
        position: absolute;
        bottom: 50%;
        transform: translateY(-50%);
        width: 80%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .businnesHour-week, .businnesHour-weekend{
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
    }

    .businnesHour-week-days{
        font-size: 1.2em;
        font-family: "Cal Sans", sans-serif;
    }

    .businnesHour-time{
        font-size: 1em;
        font-family: "Comfortaa", sans-serif;
    }

    /* ====== Close sidebar Effects ====== */
    .sidebar-close .sidebar-header{
        right: -500%;
    }



  }
  
  /* Laptops/Desktop pequeno */
  @media (min-width: 769px) and (max-width: 1024px) {
     .sidebar-BG, .sidebar-BG-close{
        position: fixed;
        top: 0;
        z-index: 10000;
        width: 100vw;
        height: 100vh;
        transition: 0s;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .sidebar-BG-close{
        background-color: transparent;
        pointer-events: none;
    }

    .sidebar{
        position: absolute;
        right: 0%;
        width: 25em;
        height: 100%;
        background-color: #fff;
        transition: .6s ease-in-out;
        overflow: auto;
    }
    .sidebar-close{
        position: absolute;
        right: -500%;
        width: 65%;
        height: 100%;
        background-color: #fff;
        transition: .6s ease-in-out;
    }


    

    /* ===== sidebar header ===== */
    .sidebar-header{
        width: 100%;
        height: 5em;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 5%;
        background-color: #FFD400;
    }
    .side-header-title{
        font-size: 10vw;
        color: hsl(202, 100%, 46%);
        font-family: "Nunito", sans-serif;
    }
    .side-header-icon{
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 3.2em;
        color: rgba(0, 0, 0, 0.5);
    }


            /* === sidebar-links-list ==== */

    .sidebar-links-list{
        width: 100%;
        height: 15em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
        margin: 5% 0;
    }
    .sidebar-links{
        font-size: 3vw;
        color: #000;
        font-family: "Quicksand", sans-serif;
        font-family: "Jost", sans-serif;
        font-family: "Comfortaa", sans-serif;
        width: 80%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFD400;
    }

       /* ====== address-sidebar ===== */
        .address-sidebar{
            margin: 15% 0;
            width: 100%;
            height: 15em;
            background-color: rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            flex-direction: column;
            padding: 2%;
        }
        .address-title{
            font-size: 2em;
            font-family: "Bebas Neue", sans-serif;
        }
        .address-sidebar-info{
            font-family: "Urbanist", sans-serif;  
            font-size: 1em;
        }
        .address-sidebar-link{
            width: 90%;
            height: 3em;
            background-color: #FFD400;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .address-sidebar-btn{
            width: 100%;
            height: 100%;
            background-color: transparent;
            font-size: 1em;
            font-family: "Bebas Neue", sans-serif;
        }


        /* ===== businnesHour ====== */

    .businnesHour{
        width: 100%;
        height: 15em;
        margin-bottom: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: auto;
    }
    .businnesHour-header{
        width: 100%;
        height: 3em;
        background-color: #FFD400;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .businnesHour-title{
        font-family: "Bebas Neue", sans-serif;
        font-size: 2em;
    }
    .businnesHour-body{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
        position: relative;
    }
    .businnesHour-body::after{
        content: '';
        position: absolute;
        bottom: 50%;
        transform: translateY(-50%);
        width: 80%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .businnesHour-week, .businnesHour-weekend{
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
    }

    .businnesHour-week-days{
        font-size: 1.2em;
        font-family: "Cal Sans", sans-serif;
    }

    .businnesHour-time{
        font-size: 1em;
        font-family: "Comfortaa", sans-serif;
    }


    /* ====== Close sidebar Effects ====== */
    .sidebar-close .sidebar-header{
        right: -500%;
    }


  }
  
  /* Desktops */
  @media (min-width: 1025px) and (max-width: 1440px) {
    .sidebar-BG, .sidebar-BG-close{
        position: fixed;
        top: 0;
        z-index: 10000;
        width: 100vw;
        height: 100vh;
        transition: 0s;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .sidebar-BG-close{
        transition: 1s;
        background-color: transparent;
        pointer-events: none;
    }
    .sidebar{
        position: absolute;
        right: 0%;
        width: 21%;
        height: 100%;
        background-color: #fff;
        transition: .6s ease-in-out;
        overflow-y: auto;
    }
    .sidebar-close{
        position: absolute;
        right: -500%;
        width: 30%;
        height: 100%;
        background-color: #fff;
        transition: .6s ease-in-out;
    }


    

    /* ===== sidebar header ===== */
    .sidebar-header{
        width: 100%;
        height: 5em;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 5%;
        background-color: #FFD400;
    }
    .side-header-title{
        font-size: 10vw;
        color: hsl(202, 100%, 46%);
        font-family: "Nunito", sans-serif;
    }
    .side-header-icon{
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 3vw;
        color: rgba(0, 0, 0, 0.5);
    }



            /* === sidebar-links-list ==== */

    .sidebar-links-list{
        margin: 5% 0;
        width: 100%;
        height: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
    }
    .sidebar-links{
        font-family: 2vw;
        color: #000;
        font-family: "Quicksand", sans-serif;
        font-family: "Jost", sans-serif;
        font-family: "Comfortaa", sans-serif;
        width: 80%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFD400;
    }


        /* ===== businnesHour ====== */

    .businnesHour{
        width: 100%;
        height: 15em;
        margin-bottom: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: auto;
    }
    .businnesHour-header{
        width: 100%;
        height: 3em;
        background-color: #FFD400;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .businnesHour-title{
        font-family: "Bebas Neue", sans-serif;
        font-size: 2vw;
    }
    .businnesHour-body{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
        position: relative;
    }
    .businnesHour-body::after{
        content: '';
        position: absolute;
        bottom: 50%;
        transform: translateY(-50%);
        width: 80%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .businnesHour-week, .businnesHour-weekend{
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
    }

    .businnesHour-week-days{
        font-size: 1.5vw;
        font-family: "Cal Sans", sans-serif;
    }

    .businnesHour-time{
        font-size: 1em;
        font-family: "Comfortaa", sans-serif;
    }


       /* ====== address-sidebar ===== */
        .address-sidebar{
            margin: 15% 0;
            width: 100%;
            height: 15em;
            background-color: rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            flex-direction: column;
            padding: 2%;
        }
        .address-title{
            font-size: 2em;
            font-family: "Bebas Neue", sans-serif;
        }
        .address-sidebar-info{
            font-family: "Urbanist", sans-serif;  
            font-size: 1em;
        }
        .address-sidebar-link{
            width: 90%;
            height: 3em;
            background-color: #FFD400;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .address-sidebar-btn{
            width: 100%;
            height: 100%;
            background-color: transparent;
            font-size: 1em;
            font-family: "Bebas Neue", sans-serif;
        }






    /* ====== Close sidebar Effects ====== */
    .sidebar-close .sidebar-header{
        right: -500%;
    }


    
  }
  
  /* Telas grandes */
  @media (min-width: 1441px) {
     .sidebar-BG, .sidebar-BG-close{
        position: fixed;
        top: 0;
        z-index: 10000;
        width: 100vw;
        height: 100vh;
        transition: 0s;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .sidebar-BG-close{
        background-color: transparent;
        pointer-events: none;
        transition: 1s;
    }


    .sidebar{
        position: absolute;
        right: 0%;
        width: 30%;
        height: 100%;
        background-color: #fff;
        transition: .6s ease-in-out;
        overflow-y: auto;
    }
    .sidebar-close{
        position: absolute;
        right: -500%;
        width: 30%;
        height: 100%;
        background-color: #fff;
        transition: .6s ease-in-out;
    }

    

    

    /* ===== sidebar header ===== */
    .sidebar-header{
        width: 100%;
        height: 5em;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 5%;
        background-color: #FFD400;
    }
    .side-header-title{
        font-size: 10vw;
        color: hsl(202, 100%, 46%);
        font-family: "Nunito", sans-serif;
    }
    .side-header-icon{
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 3vw;
        color: rgba(0, 0, 0, 0.5);
    }



            /* === sidebar-links-list ==== */

    .sidebar-links-list{
        width: 100%;
        height: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
        margin: 5% 0;
    }
    .sidebar-links{
        font-family: 8vw;
        color: #000;
        font-family: "Quicksand", sans-serif;
        font-family: "Jost", sans-serif;
        font-family: "Comfortaa", sans-serif;
        width: 80%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFD400;
    }

            /* ===== businnesHour ====== */

    .businnesHour{
        width: 100%;
        height: 15em;
        margin-bottom: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: auto;
    }
    .businnesHour-header{
        width: 100%;
        height: 3em;
        background-color: #FFD400;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .businnesHour-title{
        font-family: "Bebas Neue", sans-serif;
        font-size: 2vw;
    }
    .businnesHour-body{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
        position: relative;
    }
    .businnesHour-body::after{
        content: '';
        position: absolute;
        bottom: 50%;
        transform: translateY(-50%);
        width: 80%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .businnesHour-week, .businnesHour-weekend{
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
    }

    .businnesHour-week-days{
        font-size: 1.5vw;
        font-family: "Cal Sans", sans-serif;
    }

    .businnesHour-time{
        font-size: 1em;
        font-family: "Comfortaa", sans-serif;
    }


       /* ====== address-sidebar ===== */
        .address-sidebar{
            margin: 15% 0;
            width: 100%;
            height: 15em;
            background-color: rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            flex-direction: column;
            padding: 2%;
        }
        .address-title{
            font-size: 2em;
            font-family: "Bebas Neue", sans-serif;
        }
        .address-sidebar-info{
            font-family: "Urbanist", sans-serif;  
            font-size: 1em;
        }
        .address-sidebar-link{
            width: 90%;
            height: 3em;
            background-color: #FFD400;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .address-sidebar-btn{
            width: 100%;
            height: 100%;
            background-color: transparent;
            font-size: 1em;
            font-family: "Bebas Neue", sans-serif;
        }



    /* ====== Close sidebar Effects ====== */
    .sidebar-close .sidebar-header{
        right: -500%;
    }


    
  
  }