
/* Mobile pequeno */
@media (max-width: 359px) {
 .footer-section{
    background-image: url('../../images/wave-haikei.png');
    background-color: transparent;
    background-color: aqua;
    background-size: cover;
    width: 100%;
    height: 30em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-direction: column;
 }


/* === footer-column-1 ==== */
.footer-column-1{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    flex-direction: column;
}
.footer-title-letters{
    width: 50%;
    font-size: 12vw;
    font-weight: 900;
    display: flex;
    position: relative;
    color: rgba(255, 255, 255, 0.2);
}
.footer-title-letters::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color:#fff;
}

.footer-letter {
        display: inline-block;
        font-family: "Nunito", sans-serif;

}

    .footer-letter:nth-child(4){
        margin-right: 2%;
    }
    .footer-letter:nth-child(1),.letter:nth-child(5){
        transform: rotateZ(10deg);
    }
    .footer-letter:nth-child(2),.letter:nth-child(7){
        transform: rotateZ(8deg);
    }
    .footer-letter:nth-child(3),.letter:nth-child(6){
        transform: rotateZ(5deg);
    }
    .footer-letter:nth-child(8){
        transform: rotateZ(-8deg);
    }

    /* footer-column-2 */

    .footer-column-2{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-titles{
        font-family: "Open Sans", sans-serif;
        font-size: 11vw;
        color: rgba(255, 255, 255, 0.2);
        position: relative;
    }
    .footer-link-list, .footer-sociais-list{
        list-style: none;
        font-size: 8vw;
        color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3%;
        flex-direction: column;
        font-family: "Jost", sans-serif;
    }

    /* ==== footer-column-3 ===== */
    .footer-column-3{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }

    .footer-sociais-list{
        flex-direction: row;
    }
    .footer-sociais-btn{
        font-size: 5.5vw;
        color: #fff;
        border: none;
        background-color: transparent;
        font-family: "Urbanist", sans-serif;  
    }

    .footer-link-item{
        color: #fff;
    }


}
  
  /* Mobile padrão */
  @media (min-width: 360px) and (max-width: 425px) {
  .footer-section{
    background-image: url('../../images/wave-haikei.png');
    background-color: transparent;
    background-color: aqua;
    background-size: cover;
    width: 100%;
    height: 40em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-direction: column;
 }


/* === footer-column-1 ==== */
.footer-column-1{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    flex-direction: column;
}
.footer-title-letters{
    width: 50%;
    font-size: 12vw;
    font-weight: 900;
    display: flex;
    position: relative;
    color: rgba(255, 255, 255, 0.2);

}
.footer-title-letters::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color:#fff;
}

.footer-letter {
        display: inline-block;
        font-family: "Nunito", sans-serif;
}

    .footer-letter:nth-child(4){
        margin-right: 2%;
    }
    .footer-letter:nth-child(1),.letter:nth-child(5){
        transform: rotateZ(10deg);
    }
    .footer-letter:nth-child(2),.letter:nth-child(7){
        transform: rotateZ(8deg);
    }
    .footer-letter:nth-child(3),.letter:nth-child(6){
        transform: rotateZ(5deg);
    }
    .footer-letter:nth-child(8){
        transform: rotateZ(-8deg);
    }

 /* footer-column-2 */

    .footer-column-2{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-titles{
        font-family: "Open Sans", sans-serif;
        font-size: 11vw;
        color: rgba(255, 255, 255, 0.2);
        position: relative;
    }
    .footer-link-list, .footer-sociais-list{
        list-style: none;
        font-size: 8vw;
        color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3%;
        flex-direction: column;
        font-family: "Jost", sans-serif;
    }

    /* ==== footer-column-3 ===== */
    .footer-column-3{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }

    .footer-sociais-list{
        flex-direction: row;
    }
    .footer-sociais-btn{
        font-size: 5.5vw;
        color: #fff;
        border: none;
        background-color: transparent;
        font-family: "Urbanist", sans-serif;  
    }


    .footer-link-item{
        color: #fff;
    }

  }
  
  /* Tablets */
  @media (min-width: 425px) and (max-width: 768px) {
.footer-section{
    background-image: url('../../images/wave-haikei.png');
    background-color: transparent;
    background-color: aqua;
    background-size: cover;
    width: 100%;
    height: 30em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-direction: column;
 }


/* === footer-column-1 ==== */
.footer-column-1{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    flex-direction: row;
}
.footer-title-letters{
    width: 4em;
    font-size: 3em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: rgba(255, 255, 255, 0.2);
}
.footer-title-letters::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color:#fff;
}

.footer-letter {
        display: inline-block;
        font-family: "Nunito", sans-serif;
}

    .footer-letter:nth-child(4){
        margin-right: 2%;
    }
    .footer-letter:nth-child(1),.letter:nth-child(5){
        transform: rotateZ(10deg);
    }
    .footer-letter:nth-child(2),.letter:nth-child(7){
        transform: rotateZ(8deg);
    }
    .footer-letter:nth-child(3),.letter:nth-child(6){
        transform: rotateZ(5deg);
    }
    .footer-letter:nth-child(8){
        transform: rotateZ(-8deg);
    }

     /* footer-column-2 */

    .footer-column-2{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-titles{
        font-family: "Open Sans", sans-serif;
        font-size: 2em;
        color: rgba(255, 255, 255, 0.2);
        position: relative;
    }
    .footer-link-list, .footer-sociais-list{
        list-style: none;
        font-size: 1.5em;
        color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3%;
        flex-direction: column;
        font-family: "Jost", sans-serif;
    }


      /* ==== footer-column-3 ===== */
    .footer-column-3{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }

    .footer-sociais-list{
        flex-direction: row;
    }
    .footer-sociais-btn{
        font-size: 1em;
        color: #fff;
        border: none;
        background-color: transparent;
        font-family: "Urbanist", sans-serif;  
    }


    .footer-link-item{
        color: #fff;
    }

  }
  
  /* Laptops/Desktop pequeno */
  @media (min-width: 769px) and (max-width: 1024px) {
 .footer-section{
    background-image: url('../../images/wave-haikei.png');
    background-color: transparent;
    background-color: aqua;
    background-size: cover;
    width: 100%;
    height: 30em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-direction: row;
 }


/* === footer-column-1 ==== */
.footer-column-1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    flex-direction: column;
}
.footer-title-letters{
    width: 4em;
    font-size: 3em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: rgba(255, 255, 255, 0.2);
}
.footer-title-letters::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color:#fff;
}

.footer-letter {
        display: inline-block;
        font-family: "Nunito", sans-serif;

}

    .footer-letter:nth-child(4){
        margin-right: 2%;
    }
    .footer-letter:nth-child(1),.letter:nth-child(5){
        transform: rotateZ(10deg);
    }
    .footer-letter:nth-child(2),.letter:nth-child(7){
        transform: rotateZ(8deg);
    }
    .footer-letter:nth-child(3),.letter:nth-child(6){
        transform: rotateZ(5deg);
    }
    .footer-letter:nth-child(8){
        transform: rotateZ(-8deg);
    }


       /* footer-column-2 */

    .footer-column-2{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-titles{
        font-family: "Open Sans", sans-serif;
        font-size: 2em;
        color: rgba(255, 255, 255, 0.2);
        position: relative;
    }
    .footer-link-list, .footer-sociais-list{
        list-style: none;
        font-size: 1.5em;
        color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3%;
        flex-direction: column;
        font-family: "Jost", sans-serif;
    }




       /* ==== footer-column-3 ===== */
    .footer-column-3{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }

    .footer-sociais-list{
        flex-direction: column;
    }
    .footer-sociais-btn{
        font-size: 1em;
        color: #fff;
        border: none;
        background-color: transparent;
        font-family: "Urbanist", sans-serif;  
    }


    .footer-link-item{
        color: #fff;
    }


  }
  
  /* Desktops */
  @media (min-width: 1025px) and (max-width: 1440px) {
   .footer-section{
    background-image: url('../../images/wave-haikei.png');
    background-color: transparent;
    background-color: aqua;
    background-size: cover;
    width: 100%;
    height: 30em;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2%;
    flex-direction: row;
 }


/* === footer-column-1 ==== */
.footer-column-1{
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    flex-direction: column;
}
.footer-title-letters{
    width: 100%;
    font-size: 3.5vw;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: rgba(255, 255, 255, 0.2);
}
.footer-title-letters::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color:#fff;
}

.footer-letter {
    display: inline-block;
    font-family: "Nunito", sans-serif;
}

    .footer-letter:nth-child(4){
        margin-right: 2%;
    }
    .footer-letter:nth-child(1),.letter:nth-child(5){
        transform: rotateZ(10deg);
    }
    .footer-letter:nth-child(2),.letter:nth-child(7){
        transform: rotateZ(8deg);
    }
    .footer-letter:nth-child(3),.letter:nth-child(6){
        transform: rotateZ(5deg);
    }
    .footer-letter:nth-child(8){
        transform: rotateZ(-8deg);
    }


     /* footer-column-2 */

    .footer-column-2{
        width: 15%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-titles{
        font-family: "Open Sans", sans-serif;
        font-size: 2em;
        color: rgba(255, 255, 255, 0.2);
        position: relative;
    }
    .footer-link-list, .footer-sociais-list{
        list-style: none;
        font-size: 1.5em;
        color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3%;
        flex-direction: column;
        font-family: "Jost", sans-serif;
    }

   /* ==== footer-column-3 ===== */
    .footer-column-3{
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }

    .footer-sociais-list{
        flex-direction: column;
    }
    .footer-sociais-btn{
        font-size: 1em;
        color: #fff;
        border: none;
        background-color: transparent;
        font-family: "Urbanist", sans-serif;  
        cursor: pointer;
    }


    .footer-link-item{
        color: #fff;
    }
  }
  
  /* Telas grandes */
  @media (min-width: 1441px) {
  .footer-section{
    background-image: url('../../images/wave-haikei.png');
    background-color: transparent;
    background-color: aqua;
    background-size: cover;
    width: 100%;
    height: 30em;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2%;
    flex-direction: row;
 }


/* === footer-column-1 ==== */
.footer-column-1{
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    flex-direction: column;
}
.footer-title-letters{
    width: 100%;
    font-size: 3.5vw;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: rgba(255, 255, 255, 0.2);
}
.footer-title-letters::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color:#fff;
}

.footer-letter {
    display: inline-block;
    font-family: "Nunito", sans-serif;
}

    .footer-letter:nth-child(4){
        margin-right: 2%;
    }
    .footer-letter:nth-child(1),.letter:nth-child(5){
        transform: rotateZ(10deg);
    }
    .footer-letter:nth-child(2),.letter:nth-child(7){
        transform: rotateZ(8deg);
    }
    .footer-letter:nth-child(3),.letter:nth-child(6){
        transform: rotateZ(5deg);
    }
    .footer-letter:nth-child(8){
        transform: rotateZ(-8deg);
    }


      /* footer-column-2 */

    .footer-column-2{
        width: 15%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-titles{
        font-family: "Open Sans", sans-serif;
        font-size: 2em;
        color: rgba(255, 255, 255, 0.2);
        position: relative;
    }
    .footer-link-list, .footer-sociais-list{
        list-style: none;
        font-size: 1.5em;
        color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3%;
        flex-direction: column;
        font-family: "Jost", sans-serif;
    }

   /* ==== footer-column-3 ===== */
    .footer-column-3{
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }

    .footer-sociais-list{
        flex-direction: column;
    }
    .footer-sociais-btn{
        font-size: 1em;
        color: #fff;
        border: none;
        background-color: transparent;
        font-family: "Urbanist", sans-serif;  
        cursor: pointer;
    }

    .footer-link-item{
        color: #fff;
    }
  }