
@media (max-width: 359px) {
  .aboutBanner{
    width: 100%;
    height: 30em;
    background-color: #FFEA00;
    background-color: var(--PrimaryColor);
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0 0 5%;
}
.imgAboutBanner{
  width: 36em;
  height: 36em;
  object-fit: cover;
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.text{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.text::before{
    content: '';
    width: 2px;
    height: 90%;
    background-color: var(--BGColor);
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translate(-50%, -50%);

}
.text-title-aboutPage{
    font-family: "Raleway", sans-serif;
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

.text-desc-aboutPage{
  font-family: "Montserrat", sans-serif;
  font-size: 5vw;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  left: 0%;
  top: -15%;
  width: 100%;
  height: 65%;
  text-align: center;
  align-items: center;
  display: flex;
}

}
  
  @media (min-width: 360px) and (max-width: 425px) {
    .aboutBanner{
      width: 100%;
      height: 30em;
      background-color: #FFEA00;
      background-color: var(--PrimaryColor);
      overflow: hidden;
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0 0 0 5%;
  }
  .imgAboutBanner{
    width: 36em;
    height: 36em;
    object-fit: cover;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .text::before{
      content: '';
      width: 2px;
      height: 90%;
      background-color: var(--BGColor);
      position: absolute;
      top: 50%;
      left: 110%;
      transform: translate(-50%, -50%);
  
  }
  .text-title-aboutPage{
      font-family: "Raleway", sans-serif;
      font-size: 7vw;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 3px;
  }
  
  .text-desc-aboutPage{
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    left: 0%;
    top: -10%;
    width: 100%;
    height: 65%;
    text-align: center;
    align-items: center;
    display: flex;
  }
  
}
  
  @media (min-width: 426px) and (max-width: 767px) {
    .aboutBanner{
      width: 100%;
      height: 30em;
      background-color: #FFEA00;
      background-color: var(--PrimaryColor);
      overflow: hidden;
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0 0 0 5%;
  }
  .imgAboutBanner{
    width: 36em;
    height: 36em;
    object-fit: cover;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .text::before{
      content: '';
      width: 2px;
      height: 90%;
      background-color: var(--BGColor);
      position: absolute;
      top: 50%;
      left: 110%;
      transform: translate(-50%, -50%);
  
  }
  .text-title-aboutPage{
      font-family: "Raleway", sans-serif;
      font-size: 7vw;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 3px;
  }
  
  .text-desc-aboutPage{
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    left: 0%;
    top: -10%;
    width: 100%;
    height: 65%;
    text-align: center;
    align-items: center;
    display: flex;
  }
  
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .aboutBanner{
      width: 100%;
      height: 45em;
      background-color: var(--PrimaryColor);
      overflow: hidden;
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0 0 0 5%;
  }
  .imgAboutBanner{
    width: 62em;
    height: 62em;
    object-fit: cover;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .text::before{
      content: '';
      width: 2px;
      height: 90%;
      background-color: var(--BGColor);
      position: absolute;
      top: 50%;
      left: 110%;
      transform: translate(-50%, -50%);
  
  }
  .text-title-aboutPage{
      font-family: "Raleway", sans-serif;
      font-size: 7vw;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 3px;
  }
  
  .text-desc-aboutPage{
    font-family: "Montserrat", sans-serif;
    font-size: 3.5vw;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    left: 0%;
    top: -10%;
    width: 100%;
    height: 59%;
    text-align: center;
    align-items: center;
    display: flex;
  }
  
  }
  
  @media (min-width: 1025px) and (max-width: 1440px) {
    .aboutBanner{
        width: 100%;
        height: 20em;
        background-color: #FFEA00;
        background-color: var(--PrimaryColor);
        overflow: hidden;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0 0 0 5%;
    }
    .imgAboutBanner{
        width: 48em;
        height: 55em;
        object-fit: cover;
        position: absolute;
        top: 22em;
        left: 20%;
        transform: translate(50%, -50%);
        z-index: -1;
    }

    .text{
        position: relative;
        width: 30em;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .text::before{
        content: '';
        width: 2px;
        height: 90%;
        background-color: var(--BGColor);
        position: absolute;
        top: 50%;
        left: 110%;
        transform: translate(-50%, -50%);

    }
    .text-title-aboutPage{
        font-family: "Raleway", sans-serif;
        font-size: 3vw;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 3px;
    }

    .text-desc-aboutPage{
        font-family: "Montserrat", sans-serif;
        font-size: 1.4vw;
        font-weight: 300;
        text-transform: uppercase;
        background-color: var(--BGColor);
        position: relative;
        left: 10%;
        top: 5%;
        width: 100%;
        height: 65%;
        text-align: center;
        align-items: center;
        display: flex;
    }

  }
  
  @media (min-width: 1441px) {
    .aboutBanner{
      width: 100%;
      height: 20em;
      background-color: #FFEA00;
      background-color: var(--PrimaryColor);
      overflow: hidden;
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0 0 0 5%;
  }
  .imgAboutBanner{
      width: 48em;
      height: 55em;
      object-fit: cover;
      position: absolute;
      top: 22em;
      left: 20%;
      transform: translate(50%, -50%);
      z-index: -1;
  }

  .text{
      position: relative;
      width: 30em;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
  }
  .text::before{
      content: '';
      width: 2px;
      height: 90%;
      background-color: var(--BGColor);
      position: absolute;
      top: 50%;
      left: 110%;
      transform: translate(-50%, -50%);

  }
  .text-title-aboutPage{
      font-family: "Raleway", sans-serif;
      font-size: 3vw;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 3px;
  }

  .text-desc-aboutPage{
      font-family: "Montserrat", sans-serif;
      font-size: 1.4vw;
      font-weight: 300;
      text-transform: uppercase;
      background-color: var(--BGColor);
      position: relative;
      left: 10%;
      top: 5%;
      width: 100%;
      height: 65%;
      text-align: center;
      align-items: center;
      display: flex;
  }
  }