

/* 
  font-family: "Open Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Jost", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Comfortaa", sans-serif;
  font-family: "Lobster", sans-serif;
  font-family: "Urbanist", sans-serif;
  font-family: "Bangers", system-ui;
  font-family: "Cal Sans", sans-serif;
font-family: "Bebas Neue", sans-serif;
*/


/* Mobile pequeno */
@media (max-width: 359px) {
.horarySidebar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.horarySidebar-header{
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.horarySidebar-header::after{
    content: '';
    position: absolute;
    top: -10000px;
    width: 100%;
    height: 300em;
    border-radius: 20em;
    background-color: var(--BGColor);
    z-index: -1;
    transition: 0s;
}
.sidebar .horarySidebar-header::after{
    top: -190px;
    transition: 6s;
}
.horarySidebar-header-title{
    position: absolute;
    top: 50%;
    transform: translateY(-10000%);
    font-size: 8vw;
    font-family: "Bebas Neue", sans-serif;
}
.sidebar .horarySidebar-header-title{
    transform: translateY(-50%);
    transition: 3s;
}

.horarySidebar-list{
    list-style: none;
    margin: 10% 0;
    width: 100%;
}
.horarySidebar-item{
    position: relative;
    width: 100%;
    height: 3em;
    background-color: var(--BGColor);
    margin: 2% 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}

.horarySidebar-span{
    font-size: 6vw;
font-family: "Bebas Neue", sans-serif;
    position:relative;
    top: -10000px;
}
.sidebar .horarySidebar-span{
    top: 0px;
    transition: 3s ease-in-out;
}

.horarySidebar-hours{
    font-size: 6vw;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    position:relative;
    bottom: -10000px;
}
.sidebar .horarySidebar-hours{
    bottom: 0;
    transition: 3s;
}

}
  
  /* Mobile padrão */
  @media (min-width: 360px) and (max-width: 425px) {
.horarySidebar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 5em 0;
}
.horarySidebar-header{
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.horarySidebar-header::after{
    content: '';
    position: absolute;
    top: -10000px;
    width: 100%;
    height: 300em;
    border-radius: 20em;
    background-color: var(--BGColor);
    z-index: -1;
    transition: 0s;
}
.sidebar .horarySidebar-header::after{
    top: -190px;
    transition: 6s;
}
.horarySidebar-header-title{
    position: absolute;
    top: 50%;
    transform: translateY(-10000%);
    font-size: 8vw;
    font-family: "Bebas Neue", sans-serif;
}
.sidebar .horarySidebar-header-title{
    transform: translateY(-50%);
    transition: 3s;
}

.horarySidebar-list{
    list-style: none;
    margin: 10% 0;
    width: 100%;
}
.horarySidebar-item{
    position: relative;
    width: 100%;
    height: 3em;
    background-color: var(--BGColor);
    margin: 2% 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}

.horarySidebar-span{
    font-size: 6vw;
    font-family: "Bangers", system-ui;
    position:relative;
    top: -10000px;
}
.sidebar .horarySidebar-span{
    top: 0px;
    transition: 3s ease-in-out;
}

.horarySidebar-hours{
    font-size: 6vw;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    position:relative;
    bottom: -10000px;
}
.sidebar .horarySidebar-hours{
    bottom: 0;
    transition: 3s;
}

}
  


  /* Tablets */
  @media (min-width: 426px) and (max-width: 767px) {
.horarySidebar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 5em 0;
}
.horarySidebar-header{
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.horarySidebar-header::after{
    content: '';
    position: absolute;
    top: -10000px;
    width: 100%;
    height: 300em;
    border-radius: 20em;
    background-color: var(--BGColor);
    z-index: -1;
    transition: 0s;
}
.sidebar .horarySidebar-header::after{
    top: -190px;
    transition: 6s;
}
.horarySidebar-header-title{
    position: absolute;
    top: 50%;
    transform: translateY(-10000%);
    font-size: 8vw;
    font-family: "Bebas Neue", sans-serif;
}
.sidebar .horarySidebar-header-title{
    transform: translateY(-50%);
    transition: 3s;
}

.horarySidebar-list{
    list-style: none;
    margin: 10% 0;
    width: 100%;
}
.horarySidebar-item{
        position: relative;
        width: 100%;
        height: 3em;
        background-color: var(--BGColor);
        margin: 9% 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        border-radius: 0 10px 10px 0;
}

.horarySidebar-span{
    font-size: 5vw;
    font-family: "Bebas Neue", sans-serif;
    position:relative;
    top: -10000px;
}
.sidebar .horarySidebar-span{
    top: 0px;
    transition: 3s ease-in-out;
}

.horarySidebar-hours{
    font-size: 5vw;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    position:relative;
    bottom: -10000px;
}
.sidebar .horarySidebar-hours{
    bottom: 0;
    transition: 3s;
}

  }
  
  /* Laptops/Desktop pequeno */
  @media (min-width: 768px) and (max-width: 1024px) {
.horarySidebar{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin: 14em 0;
        height: 33em;
}
.horarySidebar-header{
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.horarySidebar-header::after{
    content: '';
    position: absolute;
    top: -10000px;
    width: 100%;
    height: 300em;
    border-radius: 20em;
    background-color: var(--BGColor);
    z-index: -1;
    transition: 0s;
}
.sidebar .horarySidebar-header::after{
    top: -190px;
    transition: 6s;
}
.horarySidebar-header-title{
    position: absolute;
    top: 50%;
    transform: translateY(-10000%);
    font-size: 5vw;
    font-family: "Bebas Neue", sans-serif;
}
.sidebar .horarySidebar-header-title{
    transform: translateY(-50%);
    transition: 3s;
}

.horarySidebar-list{
    list-style: none;
    margin: 10% 0;
    width: 100%;
}
.horarySidebar-item{
        position: relative;
        width: 90%;
        height: 4em;
        background-color: var(--BGColor);
        margin: 9% 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        border-radius: 0 10px 10px 0;
}

.horarySidebar-span{
    font-size: 4vw;
    font-family: "Bebas Neue", sans-serif;
    position:relative;
    top: -10000px;
}
.sidebar .horarySidebar-span{
    top: 0px;
    transition: 3s ease-in-out;
}

.horarySidebar-hours{
    font-size: 3vw;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    position:relative;
    bottom: -10000px;
}
.sidebar .horarySidebar-hours{
    bottom: 0;
    transition: 3s;
}

  }
  
  /* Desktops */
  @media (min-width: 1025px) and (max-width: 1440px) {
    .horarySidebar{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin: 5em 0;
        height: 30em;
    }
    .horarySidebar-header{
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.horarySidebar-header::after{
    content: '';
    position: absolute;
    top: -10000px;
    width: 50%;
    height: 300em;
    border-radius: 20em;
    background-color: var(--PrimaryColor);
    z-index: -1;
    transition: 0s;
}
.sidebar .horarySidebar-header::after{
    top: -200px;
    transition: 6s;
}
.horarySidebar-header-title{
    position: absolute;
    top: 50%;
    transform: translateY(-10000%);
    font-size: 3vw;
    font-family: "Bebas Neue", sans-serif;
}
.sidebar .horarySidebar-header-title{
    transform: translateY(-50%);
    transition: 3s;
}

.horarySidebar-list{
    list-style: none;
    margin: 0% 0;
    width: 100%;
}
.horarySidebar-item{
        position: relative;
        width: 90%;
        height: 4em;
        background-color: var(--BGColor);
        margin: 9% 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        border-radius: 0 10px 10px 0;
        background-color: tomato;
}

.horarySidebar-span{
    font-size: 2.5vw;
    font-family: "Bebas Neue", sans-serif;
    position:relative;
    top: -10000px;
}
.sidebar .horarySidebar-span{
    top: 0px;
    transition: 3s ease-in-out;
}

.horarySidebar-hours{
    font-size: 2vw;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    position:relative;
    bottom: -10000px;
}
.sidebar .horarySidebar-hours{
    bottom: 0;
    transition: 3s;
}
     
  }
  
  /* Telas grandes */
  @media (min-width: 1441px) {
  .horarySidebar{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin: 5em 0;
        height: 30em;
    }
    .horarySidebar-header{
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.horarySidebar-header::after{
    content: '';
    position: absolute;
    top: -10000px;
    width: 50%;
    height: 300em;
    border-radius: 20em;
    background-color: var(--PrimaryColor);
    z-index: -1;
    transition: 0s;
}
.sidebar .horarySidebar-header::after{
    top: -200px;
    transition: 6s;
}
.horarySidebar-header-title{
    position: absolute;
    top: 50%;
    transform: translateY(-10000%);
    font-size: 3vw;
    font-family: "Bebas Neue", sans-serif;
}
.sidebar .horarySidebar-header-title{
    transform: translateY(-50%);
    transition: 3s;
}

.horarySidebar-list{
    list-style: none;
    margin: 0% 0;
    width: 100%;
}
.horarySidebar-item{
        position: relative;
        width: 90%;
        height: 4em;
        background-color: var(--BGColor);
        margin: 9% 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        border-radius: 0 10px 10px 0;
        background-color: tomato;
}

.horarySidebar-span{
    font-size: 2.5vw;
    font-family: "Bebas Neue", sans-serif;
    position:relative;
    top: -10000px;
}
.sidebar .horarySidebar-span{
    top: 0px;
    transition: 3s ease-in-out;
}

.horarySidebar-hours{
    font-size: 2vw;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    position:relative;
    bottom: -10000px;
}
.sidebar .horarySidebar-hours{
    bottom: 0;
    transition: 3s;
}
    
  }